.App {
  text-align: center;
  margin: 20px;
}

* {
  font-family: 'Simonetta', cursive;
}

body {
  background: linear-gradient(135deg, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
  overflow: scroll;
}

a {
  text-decoration: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(143,4,4,1) 0%, rgba(119,4,4,1) 44%, rgba(90,1,1,1) 75%, rgba(90,1,1,1) 100%);
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 30px;
  text-shadow: 1px 4px 1px rgba(10,10,10,.8);
}

.App-header h1 {
  display: flex;
  justify-content: center;
  font-family: 'Simonetta', cursive;
  font-size: 7.5vw;
  margin: 0 auto;
  width: 100%;
}

.App-header p {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 2vw;
  text-shadow: none;
  margin-top: 20px;
}

.box {
  padding: 0px 5px 0px 5px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 800;
  height: 30px;
  text-decoration: none;
  margin: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid;
  background-color: rgba(252,249,218,1);
}

.box:focus {
  outline-color: rgba(90,1,1,1);
}

.click,
.next {
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 3px;
  width: 80px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  transition: .1s ease-in-out;
}

.click:hover,
.next:hover {
  background-color: rgba(143,4,4,1);
  color: white;
}

.click:focus,
.next:focus {
  outline: none;
}

.interactions {
  display: flex;
  flex-direction: column;
}

.table {
  display: block;
  width: 200px;
  padding: 30px;
  align-items: center;
  position: relative;
}

.table h2 {
  text-shadow: 1px 1px 1px white;
}

.samwich {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail {
  justify-content: center;
  background-color: #BADA55;
  position: relative;
  display: block;
  border: 1px solid lightgray;
  box-shadow: 0px 5px 10px rgba(10,10,10,.8);
}

.thumbnail img {
  width: 100%;
  display: block;
  position: relative;
}

.thumbnail:hover .backside{
  transition: .3s ease-in-out;
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}

.backside {
  background-color: rgba(50,50,50, .8);
  border: 1px solid #BADA55;
  color: white;
  font-weight: bold;
  font-size: 23px;
  opacity: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  z-index: -100;
}

.backside h6 {
  display: flex;
  justify-content: center;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
}

.bye{
  display: none;
}
